h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 900px;
    margin-top: 20px;
    padding: 0 10px;
}

.character-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.character-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.character-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.character-item h3 {
    font-size: 1.1rem;
    margin: 10px 0;
    font-weight: bold;
}

.character-item p {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 10px;
}

.characters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-height: 60vh;
    margin-top: 3em;
}

/* reivsao */